body {
    text-align: center;
}

header, footer {
    font-size: 30px;
}

input {
    border-radius: 5px;
}

.col-3 img{
    height: 434px;
}

.row {
    display: flex;
    justify-content: space-around;
}